{% extends 'base.html' %}
{% block content %}
<h2>Создать пользователя</h2>
<form method="post">
    <input type="text" name="first_name" placeholder="Имя" required>
    <input type="text" name="last_name" placeholder="Фамилия" required>
    <input type="text" name="username" placeholder="Логин" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Создать</button>
</form>
<a href="{{ url_for('admin.dashboard') }}">Назад</a>
{% endblock %}
